<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Curriculum Vitae</title>

  <link rel="stylesheet" href="cv.component.css" />
</head>
<body>
<div class="container py-5">
  <div class="text-center mb-5">
    <h1>Curriculum Vitae</h1>
    <button class="btn-down"><a href="/assets/FARID%20CV.pdf" download class="down">Download CV</a></button>

  </div>

  <section class="mb-5">
    <h2 class="mb-4">Education</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card h-100 text-light">
          <div class="card-body">
            <h3 class="card-title">Technician specializing in DIGITAL INFRASTRUCTURE, </h3>
            <p> ISTA Azilal - 2021-2024</p>
            <p>system and network option</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100 text-light">
          <div class="card-body">
            <h3 class="card-title">Baccalauréat en sciences de la vie et de la terre  </h3>
            <p>Lycée Ouzoud - 2020-2021</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100 text-light">
          <div class="card-body">
            <h3 class="card-title">Formation en développement web</h3>
            <p>École Numérique Ahmed AL HANSALI - 2024-2025</p>
            <p>Full Stack Developer Java, JEE & Angular</p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="mb-5">
    <h2 class="mb-4">Professional Experience</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card h-100 text-light">
          <div class="card-body">
            <h3 class="card-title">Full Stack Developer</h3>
            <p>17 avril 2023 – 07 mai 2023</p>
            <ul>
              <li>DEVELOPMENT OF A HUMAN RESOURCES MANAGEMENT
                WEBSITE (PFE internship)
                Minister of Health and Social Protection
                AZILAL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <h2 class="mb-4">Skills</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <h4>Frontend</h4>
        <ul class="list-group">
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">javaScript</li>
          <li class="list-group-item">html</li>
          <li class="list-group-item">css</li>
          <li class="list-group-item">TypeScript</li>
          <li class="list-group-item">Bootstrap</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Backend</h4>
        <ul class="list-group">
          <li class="list-group-item">java</li>
          <li class="list-group-item">MySqL</li>
          <li class="list-group-item">Spring Boot</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Tools</h4>
        <ul class="list-group">
          <li class="list-group-item">Git</li>
          <li class="list-group-item">Packet Tracer</li>
          <li class="list-group-item">figma</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mb-5">
    <h2 class="mb-4">Certificates</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card h-100 text-light">
          <div class="card-body">
            <h3 class="card-title">CCNAv7/Microsoft</h3>
            <p>2023</p>
            <ul>
              <li>CCNAv7 : mise en réseau, sécurité et automatisation des entreprises</li>
              <li>CCNAv7 : notions de base sur la commutation, le routage et la sans fil</li>
            </ul>
            <p>2022</p>
            <ul>
              <li>CCNAv7 : introduction aux réseaux – CISCO</li>
              <li>Microsoft Office Spécialiste Master</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="mb-4">Languages</h2>
    <ul class="list-group w-50">
      <li class="list-group-item">English (Intermediate)</li>
      <li class="list-group-item">French (Intermediate)</li>
    </ul>
  </section>
</div>
</body>
</html>
