<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>À propos</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">About Me</h1>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">My Journey</h2>
      <p class="iam">
        Je suis <b>FARID AIT OUTAMGHART</b>, Technicien spécialisé en
        <b>INFRASTRUCTURE DIGITAL option système et réseau</b> aussi
        <b>Développeur Full Stack Java, JEE & Angular</b>
      </p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>2024-2025</b>: Formation en développement web (Full Stack Developer Java, JEE & Angular) —
          <i>École Numérique Ahmed AL HANSALI</i>
        </li>
        <li class="list-group-item">
          <b>2021-2024</b>: Diplôme technicien spécialisé en
          <i>Infrastructure digitale option système et réseau</i> — ISTA Azilal
        </li>
        <li class="list-group-item">
          <b>2020-2021</b>: Baccalauréat en sciences de la vie et de la terre —
          <i>Lycée Ouzoud</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Frontend Skills</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Angular</li>
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">TypeScript</li>
            <li class="list-group-item">Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Backend Skills</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Java</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">Spring Boot</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Experience</h2>
      <div class="mb-3">
        <h4>Full Stack Developer</h4>
        <p class="text-muted">17 avril 2023 – 07 mai 2023</p>
        <p class="para">DEVELOPMENT OF A HUMAN RESOURCES MANAGEMENT
          WEBSITE (PFE internship)
          Minister of Health and Social Protection
          AZILAL.</p>
      </div>

    </div>
  </div>
</div>
</body>
</html>
