<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a propos</title>
</head>
<body>
    <div>
        <p>je suis <b>FARID AIT OUTAMGHART</b>, Technicien spécialisé en <b>INFRASTRUCTURE
            DIGITAL option système et réseau</b> aussi <b>Développeur Full Stack java, JEE & Angular</b> </p>
    </div>

    <div>

        <p>
           2024-2025 : formation en Development web (full stack developer java, JEE & Angular) 
           <b>École Numérique Ahmed AL HANSALI</b>
        </p>

        <p>2021-2024 : Diplôme technicien spécialisé en
            <b>infrastructure digital option système et réseau</b>
            ISTA AZILAL</p>
        
        <p>
            2020-2021 : baccalauréat en science de la vie et
            de la terre - <b>lycée ouzod</b> 
        </p>

    </div>

    <div>
        <h1>COMPETENCES</h1>
        <h3></h3>
        <h3></h3>
        <h3></h3>
    </div>
    


</body>
</html>
