<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
            <nav class="nav-bar">
            <div class="logo">
                    <h1>My Portfolio</h1>
            </div>
            <div class="links">
                    <a routerLink="/accueil">Accueil</a>
                    <a routerLink="/apropos">À propos</a>
                    <a routerLink="/projets">Projets</a>
                    <a routerLink="/contact">Contact</a>
                    <a href="#cv">CV</a>
            </div>
            </nav>
</body>
</html>
