<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil</title>
    <link rel="stylesheet" href="accueil.component.css">
</head>
<body>
    <div class="info">
      <div class="admin">
        <p>Hi, I am</p>
        <p> AIT OUTAMGHART FARID</p>
        <h1>Administrateur Systeme et Reseau</h1>
        <h1>full stack developer</h1>

      <div class="button" >
      <button class="btn"><a href="https://www.linkedin.com/in/farid-ait-outamghart-385ba0336/">LinkedIn</a></button>
      <button class="btnn"><a href="https://github.com/appie999">GitHub</a></button>
    </div>
      </div>

      <div class="linkedin">
        <img src="assets/img1.png" alt="">
      </div>
    </div>

</body>
</html>
