/**{*/
/*    background-color: rgb(0, 0, 0);*/
/*}*/
body{
  background: black;
}
.info{
  /*background-color: chartreuse;*/
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  flex-direction: row;
  }

img{
  /*background-color: brown;*/
    width: 480px;
    height: auto;
}


.admin{
  /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.admin p{

    color:#ffffff ;
    font-size: xx-large;
    text-indent: 10px;
}

.admin h1{
    color: #FFBA31;
    font-size: 45px;
}

.linkedin{
    display: flex;
    flex-direction:column
}

.btn {
    background-color: #FFBA31;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.btnn{

    background-color: #FFBA31;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.button a {
    background-color: #FFBA31;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.button{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
